{
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": "error", // var 금지
    "camelcase": "error", // 변수 및 함수 명 카멜케이스 사용
    "no-unused-vars": "error", // 사용하지 않는 변수 금지
    "no-multiple-empty-lines": "error", // 여러 줄 공백 금지
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }], // console.log() 사용 지양
    "eqeqeq": "error", // 일치 연산자(===) 사용 필수
    "dot-notation": "error", // 가능하다면 dot notation(점 표기법) 사용
    "prefer-arrow-callback": "warn", // 함수 콜백에 화살표 함수 사용 권장
    "arrow-spacing": "warn" // 화살표 함수의 화살표 앞뒤에 공백 추가 필요
  }
}
